.HeaderSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.HeaderContent {
  max-width: 600px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top:150px;
  padding-right: 75px;
  text-align: center;
}
.HeaderContent h2 {
  font-family: "cairo";
  font-size: 64px;
  font-weight: 600;
  color: #905B30;
  white-space: nowrap;
}
.HeaderContent p {
  font-family: "cairo";
  font-size: 20px;
  font-weight: 600;
  color: #8a7a6a;
  white-space: nowrap;
}
.HeaderContent button {
    margin-top:50px;
  font-family: "cairo";
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(
    180deg,
    #ba987c 0%,
    #a57956 27.68%,
    #905B30 125.82%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  color: #FBF8F5;
  background-color: #905B30;
  border-radius: 16px;
  padding: 9px 16px 9px 16px;
  border: 1px solid #FFFFFF38;
  cursor: pointer;
     box-shadow: inset 0px -10px 6px #c15d1266, 0px 0px 4px #00000066;

}
.HeaderBottom {
  position: absolute;
  transform: translateX(-70%);
  left: 69%;
  bottom: -251px;
  display: flex;
  align-items: end;
  height: 100px;
  width: 87%;
  border-radius: 8px;

  justify-content: center !important;
  background-color: #FFFFFF;
}
.HeaderBottomContent {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.HeaderBottomContentItem {
  border-left: 1px solid #7d7b7b80;

  display: flex;

  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.HeaderBottomContentItem4 {
  

  display: flex;

  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.HeaderBottomContentItemText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "cairo";
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.HeaderBottomContentItemStarIcon{
  width: 30px;
  height: 30px;
  border: 1.5px solid #905B30;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
} 