.HeaderSection {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.HeaderContent {
  max-width: 500px;
  max-height: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 217px;
  padding-right: 100px;
  text-align: center;
}

.HeaderBottom {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 30px;

  display: flex;
  align-items: end;
  height: 100px;
  width: 80%;
  border-radius: 8px;

  justify-content: center !important;
  background-color: #FFFFFF;
}
.HeaderBottomContent {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.HeaderBottomContentItem {
  border-left: 1px solid #7d7b7b80;

  display: flex;

  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.HeaderBottomContentItemText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "cairo";
  font-size: 20px;
  color: #000000;
  text-align: center;
}
