:root{
     --primary: #905B30;
  --Tittle: #3a2413;
  --primary-light: #E4D5C8;

  --background: #FBF8F5;

  --white: #FFFFFF;
  --black: #000000;

  --text: #2B2B2B;
  --text-light: #8A7A6A;

  --border: #e5e7eb;
}