.BestSellerHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #EFE4DB;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    height:757px;
}
